{% extends 'base.html' %}

{% block content %}

<!-- Style pour la mise en forme des modules de cours -->
<style>
  .course-modules {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  /* Style pour chaque bloc de thème de cours */
  .theme-block {
    background-color: black;
    color: white;
    display: block;
    width: calc(33% - 20px); 
    margin: 10px;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    box-sizing: border-box; 
    transition: background-color 0.3s;
  }

  /* Style pour l'effet de survol des blocs de thème */
  .theme-block:hover {
    background-color: #333; 
  }
</style>

<!-- Titre de la page Cours -->
<h1>Cours</h1>

<!-- Conteneur des modules de cours -->
<div class="course-modules">
  {% for theme in themes %}
    <!-- Lien pour chaque bloc de thème de cours -->
    <a class="theme-block" href="{% url 'theme_words' theme %}">{{ theme|title }}</a>
  {% endfor %}
</div>

{% endblock %}
