{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- Titre de la page d'accueil -->
<h1>Maîtrisez l'anglais en pratiquant les phrases!</h1>

<!-- Carte de présentation de LinguaPhrase -->
<div class="card text-white bg-primary mb-3" style="max-width: 100%;">
    <!-- En-tête de la carte -->
    <div class="card-header">Découvrez LinguaPhrase</div>
    <!-- Corps de la carte -->
    <div class="card-body">
        <!-- Paragraphe principal -->
        <p class="card-text">
            LinguaPhrase est l'application qui révolutionne l'apprentissage de l'anglais en le rendant interactif et amusant. Explorez nos cours thématiques, enrichissez votre vocabulaire et perfectionnez votre grammaire, le tout au même endroit.
        </p>
        <!-- Liste à puces -->
        <ul class="card-text">
            <li>Apprenez par catégories : Organisé par thèmes, notre vocabulaire est facile à mémoriser grâce à des images et des exemples de phrases.</li>
            <li>Pratiquez la construction de phrases : Utilisez les mots que vous avez appris pour créer des phrases complètes dans des contextes réels.</li>
        </ul>
        <!-- Paragraphe final -->
        <p class="card-text">
            Aujourd'hui, commencez votre voyage vers la maîtrise de l'anglais. Améliorez vos compétences linguistiques de manière interactive !
        </p>
        <!-- Liens vers les cours et les exercices -->
        <a href="{% url 'cours' %}" class="btn btn-secondary">Entrer dans les cours</a>
        <a href="{% url 'exercise' %}" class="btn btn-secondary">Entrer dans les exercices</a>
    </div>
</div>

<!-- Styles personnalisés -->
<style>
    /* Style pour le titre */
    h1 {
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        margin-top: 20px; 
        margin-bottom: 20px; 
        font-size: 36px; 
        line-height: 1.2; 
    }

    /* Style pour le texte de la carte et les paragraphes */
    .card-text, p {
        font-family: 'Open Sans', sans-serif;
    }
</style>
{% endblock %}
