<!-- theme_exer.html -->

{% extends 'base.html' %}

{% block content %}
<style>
    /* CSS de base pour la page d'exercice */
    .container {
        width: 80%;
        margin: auto;
        text-align: center;
    }

    .word, .verb {
        display: none;
        margin: 20px auto;
        padding: 20px;
        background-color: #f8f9fa; 
        color: black;
        border-radius: 5px;
        width: 60%; 
        text-align: left;
    }

    .word img, .verb img {
        max-width: 100%;
        height: auto;
    }

    .help-options button, .navigation button, #userInputSection button {
        background-color: black;
        color: white;
        border: none;
        padding: 10px 20px;
        margin: 5px;
        cursor: pointer;
        border-radius: 5px;
        width: 100px; 
    }

    .help-options button:hover, .navigation button:hover, #userInputSection button:hover {
        background-color: #333; 
    }

    #userInputSection input[type="text"] {
        width: 70%;
        padding: 10px;
        margin-top: 10px;
        border: 2px solid #ddd;
        border-radius: 5px;
    }

    #feedback {
        margin-top: 20px;
        padding: 20px;
        background-color: #f8f9fa;
        border: 1px solid #ddd;
        border-radius: 5px;
        color: black;
    }
</style>

<div class="container">
    <h1>À présent, créez des phrases avec les mots et verbes affichés !</h1>
    <div class="left-panel">
        <p>Conseil : Vous pouvez cliquer sur les indices pour voir les informations sur les mots, mais essayez de créer des phrases sans regarder les indices !</p>
    </div>

    <div class="right-panel">
    <div id="progressIndicator" style="margin-bottom: 20px;">
        <span id="currentProgress">1</span>/<span id="totalProgress">5</span>
    </div>

    <!-- Section des mots -->
    <div id="words">
        {% for word in selected_words %}
            <div class="word" id="word-{{ forloop.counter }}">
                <strong>{{ word.word }}</strong>
                <div class="help-options">
                    <button onclick="showDefinition('word', {{ forloop.counter }})">Définition</button>
                    <button onclick="showExample('word', {{ forloop.counter }})">Exemple</button>
                    <button onclick="showImage('word', {{ forloop.counter }})">Image</button>
                </div>
                <p class="definition" style="display:none;">{{ word.definition }}</p>
                <p class="example" style="display:none;">{{ word.example }}</p>
                <img class="image" src="{{ word.image_url }}" alt="{{ word.word }}" style="display:none;">
            </div>
        {% endfor %}
    </div>

    <!-- Section des verbes -->
    <div id="verbs">
        {% for verb in selected_verbs %}
            <div class="verb" id="verb-{{ forloop.counter }}">
                <strong>{{ verb.word }}</strong>
                <div class="help-options">
                    <button onclick="showDefinition('verb', {{ forloop.counter }})">Définition</button>
                    <button onclick="showExample('verb', {{ forloop.counter }})">Exemple</button>
                    <button onclick="showImage('verb', {{ forloop.counter }})">Image</button>
                </div>
                <p class="definition" style="display:none;">{{ verb.definition }}</p>
                <p class="example" style="display:none;">{{ verb.example }}</p>
                <img class="image" src="{{ verb.image_url }}" alt="{{ verb.word }}" style="display:none;">
            </div>
        {% endfor %}
    </div>

    <div class="navigation">
        <button onclick="showPrevious()">Précédent</button>
        <button onclick="showNext()">Suivant</button>
    </div>

    <div id="userInputSection">
        <input type="text" id="userSentence" placeholder="Saisissez votre phrase ici">
        <button onclick="checkSentence()">Vérifier</button>
    </div>

    <div id="feedback"></div>
</div>

<!-- Script JavaScript -->
<script>
    // Index actuel de l'exercice
    let currentIndex = 0;
    // Sélection de tous les éléments avec la classe 'word' et 'verb'
    const words = document.querySelectorAll('.word');
    const verbs = document.querySelectorAll('.verb');
    // Calcul du nombre total d'exercices (le minimum entre le nombre de mots et de verbes, limité à 5)
    let totalExercises = Math.min(words.length, verbs.length, 5);

    // Fonction pour mettre à jour l'indicateur de progression
    function updateProgressIndicator() {
        document.getElementById('currentProgress').textContent = currentIndex + 1;
        document.getElementById('totalProgress').textContent = totalExercises;
    }

    // Fonction pour basculer l'affichage d'un élément à un index spécifié
    function toggleDisplay(index, show) {
        const displayValue = show ? 'block' : 'none';
        if (index < words.length) words[index].style.display = displayValue;
        if (index < verbs.length) verbs[index].style.display = displayValue;
    }

    // Fonction pour afficher l'exercice suivant
    function showNext() {
        if (currentIndex < totalExercises - 1) {
            toggleDisplay(currentIndex, false);
            currentIndex++;
            toggleDisplay(currentIndex, true);
            updateProgressIndicator();
        }
        // Masquer le bouton "Suivant" à la fin des exercices
        if (currentIndex === totalExercises - 1) {
            document.querySelector(".navigation button:nth-child(2)").style.display = 'none'; 
        }
    }

    // Fonction pour afficher l'exercice précédent
    function showPrevious() {
        if (currentIndex > 0) {
            toggleDisplay(currentIndex, false);
            currentIndex--;
            toggleDisplay(currentIndex, true);
            updateProgressIndicator();
        }
        // Afficher le bouton "Suivant" lorsque l'utilisateur revient en arrière
        if (currentIndex < totalExercises - 1) {
            document.querySelector(".navigation button:nth-child(2)").style.display = 'inline-block'; 
        }
    }

    // Fonction pour afficher la définition d'un mot ou verbe
    function showDefinition(type, index) {
        hideAllInfo(type, index);
        document.querySelector(`#${type}-${index} .definition`).style.display = 'block';
    }

    // Fonction pour afficher un exemple d'utilisation d'un mot ou verbe
    function showExample(type, index) {
        hideAllInfo(type, index);
        document.querySelector(`#${type}-${index} .example`).style.display = 'block';
    }

    // Fonction pour afficher une image associée à un mot ou verbe
    function showImage(type, index) {
        hideAllInfo(type, index);
        document.querySelector(`#${type}-${index} .image`).style.display = 'block';
    }

    // Fonction pour masquer toutes les informations d'un mot ou verbe
    function hideAllInfo(type, index) {
        let infoDiv = document.querySelector(`#${type}-${index}`);
        infoDiv.querySelector('.definition').style.display = 'none';
        infoDiv.querySelector('.example').style.display = 'none';
        infoDiv.querySelector('.image').style.display = 'none';
    }

    // Fonction pour obtenir le texte des éléments correspondant à un sélecteur donné
    function getWordsText(selector) {
        return Array.from(document.querySelectorAll(selector))
            .map(elem => elem.innerText.trim());
    }

    // Fonction pour vérifier la phrase de l'utilisateur
    function checkSentence() {
        // Récupération de la phrase de l'utilisateur
        var sentence = document.getElementById('userSentence').value;
        // Récupération du jeton CSRF à partir des cookies
        var csrftoken = getCookie('csrftoken');

        // Récupération des mots et verbes sélectionnés pour l'exercice en cours
        var selectedWords = getWordsText(`#word-${currentIndex + 1} strong`);
        var selectedVerbs = getWordsText(`#verb-${currentIndex + 1} strong`);

        // Création des données à envoyer dans la requête
        var formData = new URLSearchParams();
        formData.append("sentence", sentence);

        selectedWords.forEach(word => formData.append("nouns[]", word));
        selectedVerbs.forEach(verb => formData.append("verbs[]", verb));

        // Affichage des mots et verbes sélectionnés dans la console
        console.log("Noms sélectionnés:", selectedWords);
        console.log("Verbes sélectionnés:", selectedVerbs);

        // Envoi de la requête POST au serveur
        fetch("/check_sentence/", {
            method: 'POST',
            headers: {
                "Content-type": "application/x-www-form-urlencoded; charset=UTF-8",
                "X-CSRFToken": csrftoken
            },
            body: formData
        })
        .then(response => response.json())
        .then(data => {
            console.log("Données reçues:", data);
            var feedbackElement = document.getElementById('feedback');
            feedbackElement.innerHTML = ''; 

            // Traitement de la réponse du serveur
            if(data.message) {
                feedbackElement.innerHTML = '<p>' + data.message + '</p>';
            } else if(data.suggestions) {
                data.suggestions.forEach(function(suggestion) {
                    feedbackElement.innerHTML += '<p>' + suggestion + '</p>';
                });
            } else if(data.error) {
                feedbackElement.innerHTML = '<p>' + data.error + '</p>';
            } else {
                feedbackElement.innerHTML = '<p>Réponse inattendue du serveur.</p>';
            }
        })
        .catch(error => {
            console.error('Erreur:', error);
            var feedbackElement = document.getElementById('feedback');
            feedbackElement.innerHTML = '<p>Une erreur s\'est produite lors du traitement de votre phrase.</p>';
        });
    }

    // Fonction pour obtenir la valeur d'un cookie à partir de son nom
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    // Vérification s'il y a des mots et verbes à afficher
    if(words.length > 0 && verbs.length > 0) {
        // Affichage du premier exercice
        toggleDisplay(0, true); 
        // Mise à jour de l'indicateur de progression
        updateProgressIndicator();
    }
</script>
<!-- Fin du script JavaScript -->

{% endblock %}
